@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

:root {
    --cor00: #F0F7F4;
    --cor01: #9cf6f677;
    --cor02: #0C7489;
    --cor03: #13505B;
    --cor04: #A78682;
    --cor05: #040404;

    --fonte01: 'Roboto', sans-serif;
    --fonte02: Arial, Helvetica, sans-serif;
}

* {
    margin: 0px;
    padding: 0px;
}

body {
    background-color:var(--cor00);
    font-family: var(--fonte01);
}

header {
    min-height: 150px;
    padding-top: 20px;
    font-weight: bold;
}

header > nav > p, a {
    color:#040404;
    padding: 30px;
    text-decoration: none;
}

main {
    margin: 20px 150px 20px 20px;
    background-color: var(--cor03);
    min-width: 320px;
    max-width: 400px;
    height: 500px;
    color: white;
    padding: 30px;
    border: 1px solid black;
    border-radius: 20px;
    box-shadow: 1px 0px #00000079;
    text-align: center;
    float: right;
}

main > p {
    padding: 20px;
}

main > p > a {
    text-decoration:none;
    color: var(--cor04);
}

main > p.login {
    padding: 20px;
    font-weight: bold;
    font-size: 2em;
    text-shadow: 1px 2px  #00000057;
}