<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Veterinária</title>

    <!-- CSS -->
    <link rel="stylesheet" href="/Styles/icon.css" />
    <link rel="stylesheet" href="/Styles/style.css" />

    <!-- script -->
    <script type="text/javascript" src="/Scripts/jquery-1.2.6.pack.js"></script>
    <script
      type="text/javascript"
      src="/Scripts/jquery.maskedinput-1.1.4.pack.js"
    ></script>
    <script src="/Scripts/cadastro.js" defer></script>
    <script src="/Scripts/senha.js" defer></script>
  </head>
  <body>
    <header>
      <nav>
        <a href="#">Quem somos</a>
        <a href="#">Contato</a>
      </nav>
    </header>
    <main class="conta" id="novo">
      <p class="login">Criar uma conta</p>

      <!-- adicionar e remover classe escondido para ver como fica -->
      <!-- <p class="messageError escondido">Email ja cadastrado</p> -->

      <form action="javascript:autentication()" method="post" id="form">
        <div class="campo">
          <label for="inputName">Digite o seu nome completo</label>
          <input
            type="text"
            name="inputName"
            id="inputName"
            placeholder="Nome Completo"
            required
          />
        </div>

        <div class="campo">
          <label for="inputEmail">Digite o seu e-mail</label>
          <input
            type="email"
            name="inputEmail"
            id="inputEmail"
            placeholder="Digite seu e-mail"
            required
          />
        </div>

        <div class="campo">
          <label for="inputTelephone">Telefone</label>

          <input
            type="text"
            name="inputTelephone"
            id="inputTelephone"
            placeholder="Digite seu numero de telefone"
            required
            autocomplete="tel"
          />
        </div>

        <div class="campo">
          <label for="inputPassword">Senha</label>

          <div class="align-icon">
            <input
              type="password"
              name="inputPassword"
              id="inputPassword"
              placeholder="Digite uma senha"
              required
              autocomplete="current-password"
            />

            <i class="icon icon-olho" aria-hidden="true" id="icon-olho"></i>
          </div>

          <!-- div ou label
            
            senha deve  ter pelo menos 6 digitos
        
        --></div>

        <div class="campo">
          <label for="inputConfirmPassword">Confirme sua senha</label>

          <div class="align-icon">
            <input
              type="password"
              name="inputConfirmPassword"
              id="inputConfirmPassword"
              placeholder="Digite novamente a sua senha"
              required
              autocomplete="current-password"
            />

            <i class="icon icon-olho" aria-hidden="true" id="icon-olho2"></i>
          </div>
        </div>

        <input
          type="submit"
          value="Criar Conta"
          id="buttonRegister"
          class="botao botao-login-registro"
        />
      </form>
      <p><a href="#">Esqueceu a senha?</a></p>
      <p><a href="index">Já possui cadastro?</a></p>
    </main>
  </body>
</html>
